# Example Database URL Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME?schema=public
# If your postgres user does not have a password, omit the :PASSWORD part (e.g., postgresql://postgres@localhost:5432/socialmedia?schema=public)

DATABASE_URL="postgresql://postgres:password@localhost:5432/socialmedia?schema=public"
JWT_SECRET="supersecretkey123"
PORT=3000
